<!-- <div class="slider">
  <div class="slider__wrapper">
    <div
      class="slider__item"
      *ngFor="let slide of imageSource; let i = index"
      [@slideInOut]="slideControl[i]"
    >
      <img class="slider__item__image" [src]="slide.url" [alt]="slide.title" />
    </div>
    <div class="slider__arrow-left">
      <img
        src="../../assets/icons/left-arrow.svg"
        alt="left-arrow"
        (click)="change('right')"
      />
    </div>
    <div class="slider__arrow-right">
      <img
        src="../../assets/icons/right-arrow.svg"
        alt="right-arrow"
        (click)="change('left')"
      />
    </div> -->
<!-- <div class="slider__item"> -->
<!-- [@animImageSlider]="slideControl[i]" -->
<!-- *ngFor="let slide of imageSource; let i = index" -->
<!-- *ngFor="let img of images; let i = index; let first = first" -->
<!-- *ngIf="i === currentImageIndex" -->

<!-- <img class="slider__item__image" [src]="slide.url" [alt]="slide.title" /> -->
<!-- @slideInOut -->
<!-- </div> -->
<!-- <div class="slider__item">
      <ng-container *ngFor="let slide of imageSource; let i = index">
        <img
          class="slider__item__image"
          *ngIf="i === currentImageIndex"
          [src]="slide.url"
          [alt]="slide.title"
          @slideInOut
        />
      </ng-container>
    </div> -->
<!-- </div>
</div> -->
<!-- [style.height.px]="height ? height : null" -->
<!-- [style.margin-bottom]="height ? '.25rem' : null" -->
<!-- (touchstart)="posIni = $event.changedTouches[0].pageX" -->
<div class="wrapper">
  <!-- (touchend)="move($event.changedTouches[0].pageX)" -->
  <!-- [ngClass]="height ? 'fixed-height' : null" -->
  <div
    class="inner"
    *ngFor="let img of imageSource; let i = index; let first = first"
    [@slideInOut]="slideControl[i]"
  >
    <img [src]="img.url" />
  </div>
  <button type="button" class="btn-prev" (click)="change('right')">
    <span class="prev-icon"></span>
  </button>
  <button type="button" class="btn-next" (click)="change('left')">
    <span class="next-icon"></span>
  </button>
</div>
<div class="wrapper-thumbail">
  <!-- <div
    class="thumbail"
    [@animationThumbail]="{
      value: thumbailAnimation,
      params: { margin: thumbailMargin + 'px' }
    }"
  >
    <img
      *ngFor="let img of images; let i = index"
      [style.width.px]="thumbailWidth"
      [style.margin-right.px]="thumbailMarginRigth"
      [style.opacity]="i == counter ? 1 : 0.7"
      (click)="setIndex(i)"
      [src]="img"
    />
  </div> -->
  <!-- (load)="onLoadThumbail()" -->
</div>
